*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "PT Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: #987D9A;
    background-size: contain;
    background-position: center;
    height: 100vh;
    color: #FEFBD8;
    display: flex;
    justify-content: center;
}
.contenedor{
    max-width: 80%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 40px;
}
.encabezado{
    padding: 10px 0 5px 0;
}
.agregar{
    background-color: #BB9AB1;
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 70px;
}
.agregar input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    background-color: #EECEB9;
    padding-left: 10px;
}
.agregar input::placeholder{
    font-size: 1.1rem;
    color: #987D9A;
}
.agregar i{
    font-size: 45px;
    color: #FEFBD8;
}
.agregar i:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/*seccion de tareas*/
.tareas h2{
    margin-bottom: 20px;
}
.tareas li{
    background-color: #EECEB9;
    border-radius: 15px;
    padding: 10px;
    color: #987D9A;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tareas{
    font-size: 25px;
}
.tareas p{
    font-weight: 800;
}
.tareas i:hover{
    color: #FEFBD8;
    cursor: pointer;
}
.tachado{
    text-decoration: line-through;
    color: #FEFBD8;
}